
.input-field label {
  -webkit-transform: translateY(-14px) scale(.8);
  transform: translateY(-14px) scale(.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* File Input
   ========================================================================== */
.file-input {
  position: relative;
}
.file-input .file-path-wrapper {
  overflow: hidden;
  padding-left: 10px;
}
.file-input input.file-path {
  width: 100%;
}
.file-input .btn, .file-input .btn-large {
  float: left;
  height: 3rem;
  line-height: 3rem;
  margin-top: 10px;
  width: auto;
}
.file-input span {
  cursor: pointer;
}

