{% load static i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/clearable_file_input.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/clearable_file_input.css' %}">

{#<div class="label-clear"></div>#}
<div class="file-flex-block">
  <div class="file-input input-field">
    <div class="controls" data-height_img="{{ widget.height_img }}">
      {% if widget.value %}
        <a href="{{ widget.value.url }}" target="_blank">
          <img src="{{ widget.value.url }}" alt="{{ widget.value }}" height="{{ widget.height_img }}"></a>
      {% endif %}
    </div>
    <div>
      <span class="btn btn-browse file-field">
        <span>{% trans 'File' %}</span>
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
      </span>
      <div class="file-path-wrapper">
        <input class="file-path validate hidden" value="{% if widget.is_initial %}{{ widget.value }}{% endif %}" type="text">
        {% if not widget.required and widget.is_initial %}
          <div class="btn btn-remove">
            <span>{% trans 'Remove' %}</span>
          </div>

          <div class="clearable-file-input hidden">
            <label>
              <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
              <span>{{ widget.clear_checkbox_label }}</span>
            </label>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{#{% if widget.is_initial %}#}
{#  <a href="{{ widget.value.url }}" class="file-download {% if widget.required %}required{% endif %}"#}
{#     title="{% trans 'Download' %}">#}
{#    <i class="material-icons">get_app</i>#}
{#  </a>#}
{#{% endif %}#}
</div>
